@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk Regular";
  src: url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "SpaceGrotesk Medium";
  src: url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf");
}

@font-face {
  font-family: "SpaceGrotesk SemiBold";
  src: url("./assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf");
}

@theme {
  --color-primary: rgba(1, 128, 128);
  --font-title-semibold: "SpaceGrotesk SemiBold";
  --font-title-medium: "SpaceGrotesk Medium";
}

* {
  font-family: "SpaceGrotesk Regular";
}
