.button {
  padding: 0.3em 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #2c9caf;
  stroke: #2c9caf;
  transition: all 300ms;
  position: relative;
  overflow: hidden;
  outline: 1.8px solid #2c9caf;
}

button:hover {
  color: #ffffff;
  stroke: #ffffff;
  transform: scale(1.1);
  outline: 1.8px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 300ms;
}

button:hover::before {
  width: 250%;
}
